/* шрифты */
/* шрифты */
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('fonts/Montserrat-Regular.otf');
  font-weight: normal;
  font-style: normal;/* src: url('fonts/Lora.eot'); */
  /* url('fonts/Lora.otf') format('opentype'),
  		 url('fonts/Lora.woff') format('woff'); */
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('fonts/Montserrat-Light.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('fonts/Montserrat-Bold.otf');
  font-weight: bold;
}
/* colors */
body {
  font-family: 'Montserrat';
  margin: 0;
  background-color: #fdfdfe;
  -webkit-user-select: none;
  -moz-user-select: none;
  /* end of header */

  /* end of .pop-wrap */

  /* end of .places */

  /* end of .cities-grid */

  /* end of media 550px*/

}
body header {
  width: 100%;
  height: 60vh;
  min-width: 650px;
  min-height: 700px;
  max-height: 1280px;
}
body header .top {
  padding: 40px 40px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
body header .top .logo {
  color: white;
  font-weight: bold;
  font-size: 32px;
  cursor: default;
}
body header .top nav a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  transition: .3s ease;
}
body header .top nav a:last-child {
  margin-right: 0;
}
body header .top nav a:hover,
body header .top nav a:active {
  color: #5595bd;
}
body header .slogan {
  display: block;
  font-weight: bold;
  font-size: 60px;
  color: white;
}
body header .slogan p {
  text-align: center;
  margin: 0;
}
body header .slogan p:first-child {
  margin-top: 50px;
}
body header .slogan p:nth-child(2) {
  color: #5595bd;
}
body header .slogan p:nth-child(3) {
  font-weight: normal;
  font-size: 12px;
  color: #5c5c5c;
}
body header .button {
  font-size: 12px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  width: 200px;
  display: inherit;
  margin: 0 auto;
  margin-top: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  background-color: #ffc74a;
  transition: .3s;
}
body header .button:hover,
body header .button:active {
  background-color: white;
}
body .pop-wrap {
  position: relative;
  margin-top: -185px;
  /* sorry */

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-diretion: row;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
}
body .pop-wrap::before {
  content: "Popular places to discover";
  color: white;
  position: absolute;
  top: -40px;
  font-weight: 400;
}
body .pop-wrap .popular {
  position: relative;
  overflow: hidden;
  margin: 0;
  margin-bottom: 20px;
  min-width: 240px;
  max-width: 370px;
  width: 20vw;
  height: 370px;
  background-color: #5595bd;
}
body .pop-wrap .popular .black {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: .35s;
}
body .pop-wrap .popular:hover .black {
  opacity: 0;
}
body .pop-wrap .popular:hover img {
  opacity: 1;
  transform: translatey(-50px);
}
body .pop-wrap .popular:hover .name {
  transform: translatey(-50px);
}
body .pop-wrap .popular img {
  position: relative;
  display: block;
  opacity: 0.6;
  transition: opacity .35s, transform .35s;
}
body .pop-wrap .popular figcaption {
  color: white;
}
body .pop-wrap .popular figcaption .name {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .35s;
}
body .pop-wrap .popular figcaption .name .figname {
  padding: 0 20px;
  margin: 0;
  position: relative;
}
body .pop-wrap .popular figcaption .name h1,
body .pop-wrap .popular figcaption .name p {
  padding: 0 20px;
  margin: 0;
  position: relative;
}
body .pop-wrap .popular figcaption .name h1 {
  font-size: 2em;
  position: absolute;
  bottom: 30px;
  transition: bottom .15s;
}
body .pop-wrap .popular figcaption .name p {
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
body .pop-wrap .popular figcaption a {
  opacity: 0;
  width: 100%;
  padding: 15px 30px;
  display: block;
  text-decoration: none;
  color: white;
  position: absolute;
  bottom: -30px;
  transition: opacity .3s, bottom .35s;
}
body .places {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}
body .places .search-wrap {
  margin-bottom: 50px;
}
body .places .search-wrap h1 {
  text-align: center;
  color: #5c5c5c;
  margin-top: 0;
  margin-bottom: 35px;
}
body .places .search-wrap .search {
  width: 40%;
  min-width: 250px;
  margin: 0 auto;
  position: relative;
}
body .places .search-wrap .search input {
  border: none;
}
body .places .search-wrap .search input[type="search"] {
  -webkit-appearance: none;
}
body .places .search-wrap .search input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: url('img/deletecross.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50%;
  opacity: .5;
  margin-right: 5px;
  transition: opacity .3s;
}
body .places .search-wrap .search input[type="search"]::-webkit-search-cancel-button:hover {
  opacity: 1;
}
body .places .search-wrap .search input.input {
  width: 100%;
  padding: 15px 45px 16px 25px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 5px 55px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  font-family: 'Montserrat';
  font-size: 16px;
  color: #5c5c5c;
  outline: none;
}
body .places .search-wrap .search .submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  cursor: pointer;
  background-image: url('img/search.svg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 50%;
  /* i dunno why it's grey without that */

  background-color: rgba(0, 0, 0, 0);
}
body .cities-grid {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
}
body .cities-grid figure {
  overflow: hidden;
  margin: 0;
  margin-bottom: 30px;
  width: 30%;
  min-width: 380px;
  max-width: 450px;
  height: 350px;
  box-shadow: 0 5px 55px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
body .cities-grid figure img {
  display: block;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
}
body .cities-grid figure figcaption {
  margin-top: 30px;
}
body .cities-grid figure figcaption h2 {
  color: #5c5c5c;
  text-align: center;
  font-weight: 400;
  margin: 0;
}
body .cities-grid figure figcaption h3 {
  color: #aab0b9;
  text-align: center;
  font-weight: 400;
  margin: 0;
  font-size: 14px;
}
body .cities-grid figure figcaption a {
  display: block;
  width: 150px;
  margin: 30px auto;
  padding: 10px 0;
  box-shadow: 0 5px 55px rgba(0, 0, 0, 0.1);
  color: #aab0b9;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 50px;
  transition: .35s;
}
body .cities-grid figure figcaption a:hover,
body .cities-grid figure figcaption a:active {
  color: black;
  background-color: #ffc74a;
  box-shadow: none;
}
body .explore {
  background-color: #f8f9fb;
  overflow: hidden;
  position: relative;
  padding: 50px 0;
}
body .explore .city-name {
  cursor: default;
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 35%;
  color: white;
  transform: rotate(-90deg) translatey(150px);
}
body .explore .city-name span {
  line-height: .8em;
  text-shadow: 0 5px 55px rgba(0, 0, 0, 0.1);
  font-size: 180px;
  letter-spacing: -5pt;
}
body .explore .city-name span:last-child {
  letter-spacing: 5pt;
}
body .explore h1 {
  font-size: 1.5em;
  text-align: center;
  color: #5c5c5c;
  margin-top: 0;
  margin-bottom: 35px;
  z-index: 1000;
}
body .explore .about-city {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  width: 80%;
  margin: 0 auto;
}
body .explore .about-city .city-wrap {
  width: 50%;
  min-width: 350px;
  margin-right: 10px;
}
body .explore .about-city .city-wrap h2 {
  color: #ffc74a;
  font-size: 2em;
}
body .explore .about-city .city-wrap p {
  color: #5c5c5c;
  line-height: 1.5;
}
body .explore .about-city .city-wrap a {
  font-size: 12px;
  display: block;
  width: 150px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  background-color: #ffc74a;
  transition: .3s;
}
body .explore .about-city .city-wrap a:hover {
  background-color: white;
}
body .explore .about-city .stockholm_explore {
  width: 500px;
  height: 500px;
  border: 15px solid #ffc74a;
}
body footer {
  text-align: center;
  font-weight: bold;
  color: #5c5c5c;
  font-size: 14px;
  padding: 15px 0;
}
body footer a {
  text-decoration: none;
  color: #5c5c5c;
}
body footer a:hover,
body footer a:active {
  text-decoration: underline;
}
@media (max-width: 550px) {
  body header {
    min-width: 100%;
  }
  body header .top {
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
  }
  body header .top .logo {
    font-size: 24px;
  }
  body header .top nav {
    margin-top: 5px;
  }
  body header .top nav a {
    margin-right: 10px;
  }
  body header .top nav a:last-child {
    margin-right: 0;
  }
  body header .slogan {
    font-size: 56px;
  }
  body header .slogan p:first-child {
    margin-top: 60px;
  }
  body .pop-wrap .popular {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  body .places .cities-grid figure {
    max-width: 100vw;
    min-width: 90vw;
    height: 310px;
  }
  body .places .cities-grid figure img {
    width: 90%;
  }
  body .places .cities-grid figure figcaption {
    margin-top: 15px;
  }
  body .explore {
    padding: 10px 0;
    width: 100%;
  }
  body .explore .city-name {
    transform: rotate(-90deg) translatey(110px);
  }
  body .explore .about-city .city-wrap {
    width: 100%;
    min-width: 250px;
    margin-right: 0;
  }
  body .explore .about-city .city-wrap h2 {
    margin: 5px 0;
  }
  body .explore .about-city .city-wrap a {
    margin: 0 auto;
  }
  body .explore .about-city .stockholm_explore {
    display: none;
  }
}
@media (max-width: 768px) {
  body header {
    min-width: 100%;
  }
  body header .top {
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
  }
  body header .top nav {
    margin-top: 10px;
  }
  body header .top nav a {
    margin-right: 15px;
  }
  body header .top nav a:last-child {
    margin-right: 0;
  }
  body .pop-wrap .popular {
    width: 100%;
    min-width: 275px;
  }
  body .explore .about-city .city-wrap {
    margin-right: 0;
    width: 100%;
  }
  body .explore .about-city .city-wrap h2 {
    margin: 5px 0;
  }
  body .explore .about-city .city-wrap a {
    margin: 0 auto;
  }
  body .explore .about-city .stockholm_explore {
    display: none;
  }
}
