/* шрифты */
@font-face{
	font-family: 'Montserrat';
	/* src: url('fonts/Lora.eot'); */
	src: local('Montserrat'),
	url('fonts/Montserrat-Regular.otf');
		 /* url('fonts/Lora.otf') format('opentype'),
		 url('fonts/Lora.woff') format('woff'); */
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Montserrat';
	src: local('Montserrat'),
	url('fonts/Montserrat-Light.otf');
	font-weight: 400;
}
@font-face{
	font-family: 'Montserrat';
	src: local('Montserrat'),
	url('fonts/Montserrat-Bold.otf');
	font-weight: bold;
}

@mainfont: 'Montserrat';
/* colors */
@blue: #5595bd;
@darkyellow: #ffc74a;
@grey: #5c5c5c;
@lightgrey: #aab0b9;

body{
	font-family: @mainfont;
	margin: 0;
	background-color: #fdfdfe;
	-webkit-user-select: none;
	-moz-user-select: none;
	header{
		width: 100%;
		height: 60vh;
		min-width: 650px; 
		min-height: 700px;
		max-height: 1280px;
		.top{
			padding: 40px 40px;
			display: flex;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			flex-direction: row;
			align-items: baseline;
			justify-content: space-between;
			.logo{
				color: white;
				font-weight: bold;
				font-size: 32px;
				cursor: default;
			}
			nav{
				a{
					margin-right: 20px;
					text-decoration: none;
					color: white;
					transition: .3s ease;
					&:last-child{
						margin-right: 0;
					}
					&:hover, &:active{
					color: @blue;
					}
				}
			}
		}
		.slogan{
			display: block;
			font-weight: bold;
			font-size: 60px;
			color: white;
			p{
				text-align: center;
				margin: 0;
				&:first-child{
					margin-top: 50px;
				}
				&:nth-child(2){
					color: @blue;
				}
				&:nth-child(3){
					font-weight: normal;
					font-size: 12px;
					color: #5c5c5c;
				}
			}
		}
		.button{
			font-size: 12px;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
			border-radius: 20px;
			width: 200px;
			display: inherit;
			margin: 0 auto;
			margin-top: 30px;
			font-weight: bold;
			text-decoration: none;
			color: black;
			background-color: @darkyellow;
			transition: .3s;
			&:hover, &:active{
				background-color: white;
			}
		}
	}
	/* end of header */
	.pop-wrap{
		position: relative;
		margin-top: -185px;
		display: flex;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-diretion: row;
		justify-content: space-around;
		align-content: space-between;
		flex-wrap: wrap;
		&::before{
			content: "Popular places to discover";
			color: white;
			position: absolute;
			top: -40px;
			font-weight: 400;
		}
		.popular{
			position: relative;
			overflow: hidden;
			margin: 0;
			margin-bottom: 20px;
			min-width: 240px;
			max-width: 370px;
			width: 24vw;
			height: 370px;
			background-color: @blue;
			.black{
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: black;
				transition: .35s;
			}
			&:hover{
				.translate(@coord){
					transform: translateY(@coord);
				}
				.black{
					opacity: 0;
				}
				img{
					opacity: 1;
					.translate(-50px);
				}
				.name{
					transform: translateY(-50px);
				}
			}
			img{
				position: relative;
				display: block;
				opacity: 0.6;
				transition: opacity .35s, transform .35s;
			}
			figcaption{
				color: white;
				.name{
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					transition: .35s;
					.figname{
						padding: 0 20px;
						margin: 0;
						position: relative;
					}
					h1, p{
						.figname;
					}
					h1{
						font-size: 2em;
						position: absolute;
						bottom: 30px;
						transition: bottom .15s;
					}
					p{
						font-weight: 300;
						padding-top: 10px;
						padding-bottom: 10px;
						opacity: 0;
						background-color: rgba(0,0,0,.7);
					}
				}
				a{
					opacity: 0;
					width: 100%;
					padding: 15px 30px;
					display: block;
					text-decoration: none;
					color: white;
					position: absolute;
					bottom: -30px;
					transition: opacity .3s, bottom .35s;
				}
			}
		}
	}
	/* end of .pop-wrap */
	.places{
		width: 80%;
		margin: 0 auto;
		margin-top: 30px;
		.search-wrap{
			margin-bottom: 50px;
			h1{
			text-align: center;
			color: @grey;
			margin-top: 0;
			margin-bottom: 35px;
		}
			.search{
				width: 40%;
				min-width: 250px;
				margin: 0 auto;
				position: relative;
				input{
					border: none;
					&[type="search"]{
						-webkit-appearance: none;
						&::-webkit-search-cancel-button{
							-webkit-appearance: none;
							width: 20px;
							height: 20px;
							background: url('img/deletecross.svg');
							background-repeat: no-repeat;
							background-size: 50%;
							background-position: 50%;
							opacity: .5;
							margin-right: 5px;
							transition: opacity .3s;
							&:hover{
								opacity: 1;
							}
						}
					}
					&.input{
						width: 100%;
						padding: 15px 45px 16px 25px;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
						box-shadow: 0 5px 55px rgba(0,0,0,.1);
						border-radius: 30px;
						font-family: @mainfont;
						font-size: 16px;
						color: @grey;
						outline: none;
					}
				}
				.submit{
					position: absolute;
					top: 0;
					right: 0;
					width: 50px;
					height: 100%;
					cursor: pointer;
					background-image: url('img/search.svg');
					background-repeat: no-repeat;
					background-size: 40%;
					background-position: 50%;
					/* i dunno why it's grey without that */
					background-color: rgba(0,0,0,0);
				}
			}
		}
	}
	/* end of .places */
	.cities-grid{
		display: flex;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-direction: row;
		justify-content: space-around;
		align-content: space-between;
		flex-wrap: wrap;
		figure{
			overflow: hidden;
			margin: 0;
			margin-bottom: 30px;
			width: 30%;
			min-width: 380px;
			max-width: 450px;
			height: 350px;
			box-shadow: 0 5px 55px rgba(0,0,0,.1);
			background-color: #fff;
			img{
				display: block;
				border-radius: 5px;
				position: relative;
				margin: 0 auto;
				margin-top: 10px;
			}
			figcaption{
				margin-top: 30px;
				.header-styles(@color){
					color: @color;
					text-align: center;
					font-weight: 400;
					margin: 0;
				}
				h2{
					.header-styles(@grey);
				}
				h3{
					.header-styles(@lightgrey);
					font-size: 14px;
				}
				a{
					display: block;
					width: 150px;
					margin: 30px auto;
					padding: 10px 0;
					box-shadow: 0 5px 55px rgba(0,0,0,.1);
					color: @lightgrey;
					text-align: center;
					text-decoration: none;
					font-size: 14px;
					border-radius: 50px;
					transition: .35s;
					&:hover, &:active{
						color: black;
						background-color: @darkyellow;
						box-shadow: none;
					}
				}
			}
		}
	}
	/* end of .cities-grid */
	.explore{
		background-color: #f8f9fb;
		overflow: hidden;
		position: relative;
		padding: 50px 0;
		.city-name{
			cursor: default;
			text-transform: uppercase;
			font-weight: bold;
			text-align: right;
			position: absolute;
			overflow: hidden;
			right: 0;
			top: 35%;
			color: white;
			transform: rotate(-90deg) translateY(150px);
			span{
				line-height: .8em;
				text-shadow: 0 5px 55px rgba(0,0,0,.1);
				font-size: 180px;
				letter-spacing: -5pt;
				&:last-child{
					letter-spacing: 5pt;
				}
			}
		}
		h1{
			font-size: 1.5em;
			text-align: center;
			color: @grey;
			margin-top: 0;
			margin-bottom: 35px;
			z-index: 1000;
		}
		.about-city{
			display: flex;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			z-index: 1;
			width: 80%;
			margin: 0 auto;
			.city-wrap{
				width: 50%;
				min-width: 350px;
				margin-right: 10px;
				h2{
					color: @darkyellow;
					font-size: 2em;
				}
				p{
					color: @grey;
					line-height: 1.5;
				}
				a{
					font-size: 12px;
					display: block;
					width: 150px;
					text-align: center;
					padding-top: 10px;
					padding-bottom: 10px;
					border-radius: 20px;
					font-weight: bold;
					text-decoration: none;
					color: black;
					background-color: @darkyellow;
					transition: .3s;
					&:hover{
						background-color: white;
					}
				}
			}
			.stockholm_explore{
				width: 500px;
				height: 500px;
				border: 15px solid @darkyellow;
			}
		}
	}

	footer{
		text-align: center;
		font-weight: bold;
		color: @grey;
		font-size: 14px;
		padding: 15px 0;
		a{
			text-decoration: none;
			color: @grey;
			&:hover, &:active{
				text-decoration: underline;
			}
		}
	}
/* end general styles */

	@media (max-width: 550px){
		header{
			min-width: 100%;
			.top{
				flex-direction: column;
				align-items: center;
				padding: 10px 10px;
			}
			.slogan{
				p:first-child{
					margin-top: 60px;
				}
			}
		}
		.pop-wrap{

			.popular{
				width: 100%;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.places{
			.cities-grid{
				figure{
					max-width: 100vw;
					min-width: 90vw;
					height: 20%;
					min-height: 250px; 
					max-height: 350px;
					img{
						width: 90%;
					}
					figcaption{
						margin-top: 15px;
					}
				}
			}
		}
			.explore{
				padding: 10px 0;
				width: 100%;
				.city-name{
					transform: rotate(-90deg) translateY(110px);
				}
				.about-city{
					.city-wrap{
						width: 100%;
						min-width: 250px;
						margin-right: 0;
						h2{
							margin: 5px 0;
						}
						a{
							margin: 0 auto;
						}
					}
					.stockholm_explore{
						display: none;
					}
				}
			}

	}
		
	/* end of media 550px*/

	@media (max-width: 768px){
		header{
			min-width: 100%;
			.top{
				flex-direction: column;
				align-items: center;
				padding: 10px 10px;
				nav{
					margin-top: 10px;
					a{
						margin-right: 15px;
						&:last-child{
							margin-right: 0;
						}
					}
				}
			}
		}
		.pop-wrap{
			margin-top: -100px;
			.popular{
				width: 100%;
				min-width: 275px;
			}
		}
		.explore{
			.about-city{
				.city-wrap{
					margin-right: 0;
					width: 100%;
					h2{
						margin: 5px 0;
					}
					a{
						margin: 0 auto;
					}
				}
				.stockholm_explore{
					display: none;
				}
			}
		}
	}
}
